@model LALC.Models.Subcategoria

@{
    ViewBag.Title = "Delete";
}

<br />
<h2 style="font-family: 'Segoe UI'">Eliminar</h2>
<br />
<h3 style="font-family: 'Segoe UI'">¿Está seguro de eliminar este elemento?</h3>
<br />
<h4 style="font-family: 'Segoe UI'">Se eliminarán todos los conceptos que contiene esta subcategoría</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            <div style="width:40px;height:30px; background-color: @Model.Color"></div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="row">
                <div class="col" style="width:fit-content">
                    <input type="submit" value="Eliminar" class="btn btn-default fs-5" style="width: auto; color: white; background: #3a70cf" />
                </div>
                <div class="col" style="width:fit-content">
                    <button type="button" class="btn btn-dark fs-5" style="width:auto" onclick="goBack()">Cancelar</button>
                    <script>
                        function goBack() {
                            window.history.back();
                        }
                    </script>
                </div>
                <div class="col">

                </div>
                <div class="col">

                </div>

            </div>
        </div>
    }
</div>
