@model LALC.Models.Usuario
@{
    ViewBag.Title = "Login";
}

<br />
<h2> Ingresa tus datos</h2>
<br />

@using (Html.BeginForm())
{
    <div class="form-group">
        <b style="font-size:20px">@Html.LabelFor(u => u.email, "Correo Electrónico")</b>
        <div class="col-md-7" style="margin-top: 7px; margin-bottom: 15px">
            @Html.TextBoxFor(u => u.email, new { type = "email" })
        </div>
    </div>
    <div class="form-group">
        <b style="font-size:20px" d>@Html.LabelFor(u => u.password, "Contraseña")</b>
        <div class="col-md-7" style="margin-top: 7px; margin-bottom: 15px">
            @Html.TextBoxFor(u => u.password, new { type = "password" })
        </div>
    </div>
    <br />
    <input type="submit" value="Ingresar" method="Login" class="btn btn-default fs-5" style="width: auto; color: white; background: #3a70cf" />
    <input type="button" value="Registrarse" onclick="location.href='@Url.Action("Registrar", "Auth")'" class="btn btn-default fs-5" style="width: auto; color: white; background: #3a70cf" />
    <br />
}
<br />
@TempData["mensaje"]
