@model IEnumerable<LALC.Models.Categoria>

@{
    ViewBag.Title = "Categorías";
}


<h2>Categorías</h2>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-dark fs-5" style="width:18%" onclick="location.href='@Url.Action("Create", "Categorias")'">Crear</button>
    </div>
    <div class="col">
        @using (Html.BeginForm())
        {
            @Html.TextBox("Titulo")
            <input style="background: skyblue" class="justify-content-end" type="submit" value="Buscar" />
        }
    </div>
</div>


<div class="d-flex p-2 bd-highlight">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="card text-center text-white bg-primary mb-3" style="max-width: 18rem;" onclick="location.href = '@Url.Action("Index", "Subcategorias") '">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">@item.Descripcion</p>
                </div>
            </div>
        </div>
    }
</div>
