@using PagedList;
@using PagedList.Mvc;
@model IPagedList<LALC.Models.Categoria>

@{
    ViewBag.Title = "Categorías";
}


<h2>Categorías</h2>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-dark fs-5" style="width:18%" onclick="location.href='@Url.Action("Create", "Categorias")'">Crear</button>
    </div>
    <div class="col">
        @using (Html.BeginForm("Index", "Categorias", FormMethod.Get))
        {
            @Html.TextBox("Titulo")
            <input style="background: skyblue" class="justify-content-end" type="submit" value="Buscar" />
        }
    </div>
</div>

<style>
    .cards {
        margin-top: 30px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

</style>


<div class="cards">
    @foreach (var item in Model)
    {
            <div class="card text-center text-white bg-primary mb-3" style="max-width: 18rem;" onclick="location.href = '@Url.Action("SpecificSubcategories", "Subcategorias", new { id=item.CategoriaID}) '">
                <div class="card-body">
                    <ul class="submenu">
                        <li><a href="@Url.Action("Edit", "Categorias", new { id=item.CategoriaID})">Editar</a></li>
                        <li><a href="@Url.Action("Delete", "Categorias", new { id=item.CategoriaID})">Eliminar</a></li>
                    </ul>
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">@item.Descripcion</p>
                </div>
            </div>
            }
    
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

@Html.PagedListPager(Model,pagina => Url.Action("Index", new { pagina, Titulo = Request.QueryString["Titulo"]}))
